<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> CHEESE PLEASE! </title>
  </head>
  <body>
    <h1> CHEESUS LAB THEME </h1>
    <p>Learn about some new tastey cheese</p>
  </body>
</html>