<!-- views/fruits/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cheese Catalog</title>
  </head>
  <body>
    <h1>Cheese Catalog</h1>
    <ul>
        <% cheese.forEach(cheese => { %>
            <li><a href="/cheese/<%= cheese._id %>"><%= cheese.name %></a></li>
        <% }) %>
    </ul>
    <a href="/cheese/new">Add New Cheese</a>
  </body>
</html>
